.header {
  width: 100%;
  background-color: #000;
  height: 60px;
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-menu__link {
  margin-right: 45px;
  text-transform: uppercase;
  z-index: 200;
  color: #fff;
  cursor: pointer;
}

.header-menu__link:last-child {
  margin-right: 15px;
}

.header__logo {
  margin: 0 0 0 15px;
  justify-self: self-start;
}

.burger-menu__button {
  width: 80px;
  height: 61px;
  border-radius: 50%;
  z-index: 30;
  transition: .3s;
  right: 0;
  position: fixed;
  top: 0;
}

.header__nav {
  display: block;
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.burger-menu__lines:hover {
  filter: brightness(0.7);
}

.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.burger-menu__lines::before {
  content: '';
  top: -12px;
  transition: .3s;
}

.burger-menu__lines::after {
  content: '';
  top: 12px;
  transition: .3s;
}

.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
  top: 0;
  transform: rotate(45deg);
  transition: .3s;
}

.burger-menu_active .burger-menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
  transition: .3s;
}

.burger-menu__nav {
  padding-top: 80px;
  position: fixed;
  display: flex;
  z-index: 20;
  flex-flow: column;
  height: 100%;
  background-color: #000;
  overflow-y: auto;
  right: -100%;
  width: 100%;
  transition: .4s;
  top: 0;
}

.burger-menu_active .burger-menu__nav {
  right: 0%;
  transition: .4s;
}

.burger-menu__link {
  padding: 30px;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.burger-menu__link:hover {
  filter: brightness(.7);
  transition: .3s;
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
  display: block;
}

.link_about,
.link_services,
.link_gallery,
.link_contact-form,
.link_contacts {
  background-color: transparent;
  border: none;
} 

